# Ignore everything in .config
*

# Allow the gitignore itself
!.gitignore

# Allow files
!starship.toml

# Allow directories and THEIR content
!customvim/
!customvim/**
!ghostty/
!ghostty/**
!lazyvim/
!lazyvim/**
!opencode/
!opencode/opencode.jsonc
!wezterm/
!wezterm/**
!yazi/
!yazi/**
